
.grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  padding: 0 20px 0 20px;
}

  #main-logo{
  padding-bottom: 12px; 
}

.navbar a {
  justify-self: center;
  grid-column: span 8;
}

#hero{
  padding: 20px;
}

.primary-button-hero{
  font-family: var(--main-font);
  font-size: var(--button-size);
  font-weight: 400;
  border-radius: 40px;
  background-color: var(--green-main);
  color: var(--text-light);
  border: none;
  width: 250px;
  height: 50px;
  margin: 8px 0 0 30px;
}

.primary-button-hero:hover{
  background-color: var(--green-secondary);
  cursor: pointer;
  transition: all 0.20s ease;
  font-weight: 700;
}

.hero-text{
  grid-column: 1/9;
}

.hero-jackets{
  grid-column: 2/4;
  display: flex;
  
}

.hero-jackets img{
  width: 150%;
  border-radius: 8px;
  border: 0.8 solid black;
  margin: 0 6px; 
}

.hero-text a{
  margin: 20px;
}
/*-------HIGHLY RATED-----*/

#highly-rated{
  padding: 20px;
}

.highly img{
  max-width: 80%;
  gap: 10px;
  grid-column: 1/9;
  justify-self: center;
  border-radius: 8px;
}

.highly-h2{
margin: 30px 0 10px 0;
text-align: center;
}

.highly-rated-text{
  text-align: center;
  margin: 10px 0 0 0;
}

.highly.grid{
  margin: 0;
}


/*-------PUSHING-------------------
-----------------------------------*/

#pushing{
  padding: 20px;
}

.pushing-h2{
  text-align: center;
  margin: 20px 0 20px 0;
}
.jacket-info{
  grid-column: 1/5;
}

.billie-jkt{
max-width: 100%;
border-radius: 8px;
}

.pad-img{
max-width: 100%;
height: auto;
grid-column: 5/9;
justify-self: center;
align-self: self-start;
border-radius: 8px;
}

/*------------------Socials----------------*/

#socials{
  padding: 20px;
}

.socials-h2{
text-align: start;
}
.socials-img img{
  grid-column: 2/9;
  width: 80%;
  border-radius: 8px;
}











