.prod-img{
height: 15rem;
margin: 0 0 10px 0;
border-radius: 0.4rem;
border: 0.5px solid #6C6969;
}

.card-1-con{
  display: flex;
  justify-content: space-around;  
}

.card-2-con{
  display: flex;
  justify-content: space-evenly;
  align-content: center;  
}

.prod-card{
  margin: 40px 0;
}