*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
font-family: var(--main-font);
color: var(--text-dark);
}

.site{
  margin: 1em auto;
  max-width: 1200px;
}

#main-logo{
margin: 10px 0 10px 10px;
max-height: 85px;
width: auto;
}

h1{
  font-family: var(--h1-font);
  font-size: var(--h1-size);
  font-weight: 700;
  width: 100%;
  letter-spacing: -1px;
  margin: 0;
}

h2{
  font-family: var(--h2-font);
  font-size: var(--h2-size);
  font-weight: 500;
  letter-spacing: -1px;
  margin: 0;
}

p{
  font-family: var(--p-font);
  font-size: var(--p-size);
  font-weight: 200;
  line-height: var(--p-height);
  margin: 5px 0 8px 0; 
}

a{
  text-decoration: none;
  color: var(--green-main);
  font-weight: 500;
}

a:hover{
  color: var(--green-secondary);
}

.primary-button{
  font-family: var(--main-font);
  font-size: var(--button-size);
  font-weight: 400;
  border-radius: 40px;
  background-color: var(--green-main);
  color: var(--text-light);
  border: none;
  width: 250px;
  height: 50px;
  margin: 8px 0 0 0;
}

.primary-button:hover{
  background-color: var(--green-secondary);
  cursor: pointer;
  transition: all 0.20s ease;
  font-weight: 700;
}

.buy-button{
  font-family: var(--main-font);
  font-size: var(--button-size);
  font-weight: 500;
  border-radius: 25px;
  background-color: var(--green-main);
  color: var(--text-light);
  padding: var(--spacing-small) var(--spacing-medium);
  border: none;
  width: 120px;
  height: 40px;
}

.buy-button:hover{
  background-color: var(--green-secondary);
  cursor: pointer;
  transition: all 0.20s ease;
}





/*---------------FOOTER----------------*/

.main-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
  min-height: 300px;
  background: linear-gradient(123deg, #FFF6ED 23.7%, #F1F1F1 137.95%);
 
  
}




.primary-button-footer{
  font-family: var(--main-font);
  font-size: var(--h6-size);
  font-weight: 400;
  border-radius: 40px;
  background-color: var(--green-main);
  color: var(--text-light);
  border: none;
  width: 180px;
  height: 40px;
}

.soc-ico{
  display: inline-block;
}





/*Reset*/
body, p, a, ul, li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li{
  list-style-type: none;
}